

.logo {
 box-shadow:4px 4px 10px black;
border-radius: 500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  opacity: 10;
  animation: logoFade 1500ms forwards;
}

.bounce {
      position:fixed;
      left:50%;
      bottom:0;
      margin-top:-25px;
      margin-left:-25px;
      height:50px;
      width:50px;
    
      -webkit-animation:bounce 5s infinite;
    }
    
    @-webkit-keyframes bounce {
      0%       { bottom:5px; }
      25%, 75% { bottom:15px; }
      50%      { bottom:20px; }
      100%     {bottom:0;}
    }

    .info {
  opacity: 100;
  animation: textFade 3000ms 1900ms forwards;
}

@keyframes logoFade {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  90% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.video-container {
position: relative;
padding-top: inherit; height: 0px;  overflow: hidden; align-items: center;
padding-bottom: 56.25%;
display: flex;


}




 
.video-container iframe,
.video-container object,
.video-container embed {

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.twitter-timeline
{
  position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.coded-on-replit {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-flex;
  padding: 8px 12px;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: rgb(17, 29, 44);
  border-radius: 6px;
  font-size: 12px;
}

.coded-on-replit img {
  width: 20px;
  margin-right: 4px;
  height: auto;
}


/* new Nav bar 
*/



.topnav {
  overflow: hidden;
  background-color: rgb(19, 19, 19);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: darkred;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1150px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.logotextcolor {
color: white;
text-align: left;
}

.footer { 
  display: white;
  color: white;
}

.welcomeface
{
  
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow:4px 4px 10px black;
  border-radius: 600px;
  cursor: pointer;
  transition: 0.5s;
  width: auto;
  height: auto;
  

  
}

.welcomeface:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
}

.maintext {
color: white;
 text-align: center;

}
.video-responsive {
  text-align: left;
}

@media screen and (max-width: 1560px) {
  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    text-align: center;
  }
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}